{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="infoWrapper d-flex flex-row">
            <img src="{{infos.getAvatar()}}" alt="Avatar">
            <h2>{{infos.getUsername()}}</h2>
    </div>
    {% if user.id == app.user.id or (is_granted('ROLE_ADMIN'))%}
        <a href="{{path("app_update", {'id':infos.User.id})}}"<button type="button" class="btn btn-outline-info">Edit Account</button></a>
    {% endif %}
{% endblock %}
