.avatar{
    max-width:50px;
}

.infoWrapper img{
    width:20%;
}

.adminBadge{
    background-color: red;
    width: 50%;
    font-size: large;
}

.userBadge{
    background-color: green;
    width: 50%;
    font-size: large;
}