.avatar{
    max-width:50px;
}

.infoWrapper img{
    width:20%;
}

.adminBadge{
    background-color: red;
    width: 50%;
    font-size: large;
}

.userBadge{
    background-color: green;
    width: 50%;
    font-size: large;
}

.image img {
    -moz-transition: all 1s ease; /* Firefox */
    transition: all 1s ease;
    width: 100%; 
    height: 150pt;
}

.card:hover .thumbnail img {
    -moz-transform:scale(1.10); /* Firefox */
     transform:scale(1.10);
}

.storePageCover{
    width: 70vw;
    height: 70vh;
}