{% extends 'base.html.twig' %}

{% block title %}Welcome to TutorShip{% endblock %}

{% block body %}

<div class="bg-container">
    <div class="title-container">
        <span class="titlep1">Welcome to Tutor</span>
        <span class="titlep2">Ship</span>
    </div>

    {% if app.user == false%}
        <div class="guest-index">
            <h2 class="text-center">TutorShip is a new way to easily get in contact with Tutors all around the world in order to learn new skills and sharpen your existing ones. </h2>
            <div class="guest-loginreg-container">
                <span class="guest-loginreg">Please</span>
                <a href="{{path("app_login")}}">
                    <span class="guest-loginreg guest-loginreg-link"> log in </span>
                </a>
                <span class="guest-loginreg">or</span>
                <a href="{{path("app_register")}}">
                    <span class="guest-loginreg guest-loginreg-link"> register </span>
                </a>
                <span class="guest-loginreg">in order to access the rest of the site.</span>   
            </div>
                     

        </div> 
    {% endif %}

    {% if is_granted("ROLE_USER")%}
        {% if user.getUserInfo.getUsername == "username" %}
            <h4 class="text-center">Please feel free to change your username and avatar by going to your profile in the dropdown menu located in the top-right of your screen</h2>
        {% endif %}
        <p class="m-2 indexText">Feel free to browser the list of lessons accesible at the top of your screen to browse our {{nbLessons}} currently available lessons.</p>
    {% endif %}

    {% if is_granted("ROLE_TEACHER")%}
        <p class="m-2 indexText">As a teacher, feel free to access the list of lessons, then press the "create a lesson" button to create a new lesson.</p>
    {% endif %}

</div>

{% endblock %}