{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
    <h1 class="text-center">Your Library</h1>
    <div class="row">
        {% for game in user.getGames() %}
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
                <a href={{path("app_storePage", {'id':game.id})}} style="text-decoration: none;">
                    <div class="card mb-3 containers">
                        <h4 class="card-title text-center">{{game.name}}</h4>
                        <div class="thumbnail">
                            <div class="image">
                                <img style=" max-width: 90%; display: block;" src="{{game.cover}}" class=" mx-auto my-3" alt="Game cover">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
